#intro {
    color: $white;
     h3 {
        position: relative;
        font-size: 1.5em;
        top: 15vh;
    }
    p {
        font-size: 1.2em;
        position: relative;
        top: 15vh;
    }
}

@media screen and (min-width: 768px) {
    #intro {
        width: 40em;
        padding-left: 1em;
        h3 {
            font-size: 2em;
            top: 20vh;
        }
        p {
            font-size: 1.5em;
            top: 18vh;
            
        }
    }
}