@import 'partials/variables';
@import 'partials/mixins';
@import 'reset';
@import 'navStyle';
@import 'introStyle';
@import 'mediaQueries';

//styles under here are global

body {
    font-family: $helvetica-font-stack;
}
header {
    background: $sub-blue;
    height: 100vh;
}