$white: white;
$darker-blue: #002c66; //darker blue
$dark-blue: #0057cc; //dark blue
$main-blue: #006dff; // blue
$sub-blue: #00ecff; // light blue
$helvetica-font-stack: "Helvetica Neue", Helvetica, sans-serif;